extends layout

block content
  div.hometitlebox
    h1.homescreentitle Manage Your Twitch Subscriptions
  div.hometextbox
    p.hometext
      | Once registered, this web application will allow
      | you to add twitch streamers to your account. Once added
      | to your account you will be able to see what they are
      | streaming! Please register to use this service.
